[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pyyaml = "*"
imutils = "*"
torch = "*"
matplotlib = "*"
einops = "*"
kornia = "*"
yacs = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.10"
